.tooltiptext {
  width: 480px;
}

.image {
  display: inline-block;
  overflow: hidden;
  outline: 2px solid gainsboro;
  border-radius: 50%;
  top: 10%;
  /* width: 80%;
  height: 80%; */
  height: 70px;
  width: 70px;
  position: relative;

}

.responsive-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 2px solid gainsboro;
}
