.is-itech {
  background-color: #e65100;
  border-color: transparent;
  color: #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}

@media (min-width: 576px) {
  .resized-fa-icon::before {
    font-size: 40px !important;
    /* color: coral !important; */
  }
}

@media (min-width: 110px) {
  .resized-fa-icon::before {
    font-size: 30px !important;
    /* color: coral !important; */
  }
}

.img-container > img,
.logo-container > img {
  width: 100%;
  height: auto;
}
.img-container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 110px) {
  h1.header-element {
    font-size: 1.5rem !important;
  }
}

h1.header,
h1.header-element {
  font-size: 2.2rem !important;
}
