.colorletra {
  color: #ffff;
}

.ColorPrimero {
  background-color: #d8b700;
}
.ColorSegundo {
  background-color: #1a00a0;
}
.ColorTres {
  background-color: #f53d3d;
}

.brIz {
  border-radius: 5px 0px 0px 5px;
}
.brDe {
  border-radius: 0px 5px 5px 0px;
}

.status {
  padding: 5px;
  color: #ffffff;
  border-radius: 8px;
  font-weight: 600;
}

.summary {
  display: inline-block;
  width: 90%;
  font-weight: 600;
  font-size: 50px;
}

.card-img-top-fixed {
  object-fit: cover;
  object-position: left center;
  height: 200px;
}

.card-fixed-text {
  height: 200px;
}

.card {
  border: none !important;
}

h4.span-number {
  align-self: center;
  text-align: center;
  font-size: 1.5rem;
  text-shadow: 2px 2px 8px #ffffff;
}

::ng-deep {
  .table td {
    padding: 0 !important;
    vertical-align: middle !important;
  }
  .table td.fixed {
    padding: 10px !important;
    text-align: justify;
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -1px;
  left: -13px;
  height: 25px;
  width: 25px;
  z-index: 2;
  border-color: #e65100;
  background-color: #e65100;
  cursor: pointer;
}

/* On mouse-over, add a grey background color */
input ~ .checkmark {
  background-color: white;
  border: 1px solid #ccc;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
  background-color: #28a745;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ellipsis {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  /* autoprefixer: off */
}

// .pre-line.ellipsis{
//   //display: block;
//   height: 40px;
//   overflow: hidden;
// }
