::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #e65100 !important;
}

::ng-deep .mat-horizontal-content-container {
  overflow: unset !important;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65 !important;
}

form {
  min-height: 470px;
}
.custom-control-input {
  top: -1px;
  left: -13px;
  height: 25px;
  width: 25px;
  z-index: 5;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -1px;
  left: -13px;
  height: 25px;
  width: 25px;
  z-index: 2;
  border-color: #e65100;
  background-color: #e65100;
  cursor: pointer;
}

/* On mouse-over, add a grey background color */
input ~ .checkmark {
  background-color: white;
  border: 1px solid #ccc;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
  background-color: #28a745;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Tooltip container */
.tooltip_ {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip_ .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 7;
  bottom: 125%;
  left: 50%;
  margin-left: -90px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip_ .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip_:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
