<!-- Generated template for the ResetPasswordComponent component -->
<div class="col-12" [hidden]="!show_detail_loading">
  <ng-template [ngIf]="show_detail_loading">
    <div class="d-flex justify-content-center" style="margin: 140px">
      <div
        class="spinner-border text-citric"
        style="width: 6rem; height: 6rem"
        role="status"
      ></div>
    </div>
  </ng-template>
</div>

<div
  class="row justify-content-center align-content-center"
  [hidden]="show_detail_loading"
  style="min-height: 500px"
>
  <div class="col-12 text-right">
    <button
      class="btn btn-sm btn-outline-citric mx-5"
      (click)="cancel_login.emit()"
    >
      {{'General_Cerrar' | translate }}
    </button>
  </div>
  <div class="col-12 align-self-center">
    <h2 class="text-citric text-center" *ngIf="!currentUser">
      <!-- {{'users.create_an_account' | translate | uppercase}} -->
      {{'users.reset_password' | translate | uppercase}}
    </h2>
  </div>
  <div class="col-12 col-md-10">
    <h4 class="text-justify text-center">{{iglesia?.Nombre}}</h4>
    <h6 class="text-justify m-0 text-secondary" *ngIf="actual_step === 1">
      {{'users.need_to_verify_1' | translate }} <br />
      {{'users.need_to_verify_2' | translate}}
    </h6>
    <h6 class="text-justify m-0 text-secondary" *ngIf="actual_step === 2">
      <span *ngIf="selected_type === 'phone'">
        {{'users.verify_by_phone' | translate}} {{options?.phone}}
      </span>
      <span *ngIf="selected_type === 'email'">
        {{'users.verify_by_email' | translate}} {{options?.email}}
      </span>
      <!-- <span *ngIf="selected_type === 'email'">
        Le hemos enviado un correo a {{options?.email}} para cambiar su
        contraseña.
      </span> -->
    </h6>
    <h6 class="text-justify m-0 text-secondary" *ngIf="actual_step === 3">
      <span> {{'users.reset_password' | translate}} </span>
    </h6>
    <h6 class="text-justify m-0 text-secondary" *ngIf="actual_step === 4">
      <span> {{'users.password_reset_successfully' | translate}} </span>
    </h6>
  </div>
  <div class="col-12 col-md-10" *ngIf="!options">
    <!-- <ion-spinner color="citric" name="crescent"> </ion-spinner> -->
  </div>
  <!-- Request -->
  <div class="col-12 col-md-10" *ngIf="options && actual_step === 1">
    <div class="form-check custom-radio my-2">
      <input
        [(ngModel)]="selected_type"
        class="form-check-input custom-control-input"
        type="radio"
        id="inlineRadio1"
        value="email"
        [checked]="
        selected_type === 'email'
        "
        [ngModelOptions]="{standalone: true}"
      />
      <label class="form-check-label custom-control-label" for="inlineRadio1">
        {{'General_Correo' | translate}}: {{options.email}}
      </label>
    </div>
    <div class="form-check custom-radio my-2">
      <input
        [(ngModel)]="selected_type"
        class="form-check-input custom-control-input"
        type="radio"
        id="inlineRadio2"
        value="phone"
        [checked]="
        selected_type === 'phone'
        "
        [ngModelOptions]="{standalone: true}"
      />
      <label class="form-check-label custom-control-label" for="inlineRadio2">
        {{'Miembro_Telefono' | translate}}: {{options.phone}}
      </label>
    </div>

    <!-- <ion-list radio-group [(ngModel)]="selected_type" mode="md">
      <ion-item no-lines no-padding text-wrap>
        <ion-radio item-left value="email" mode="md"></ion-radio>
        <ion-label>Correo electrónico: {{options.email}} </ion-label>
      </ion-item>
      <ion-item no-lines no-padding text-wrap>
        <ion-radio item-left value="phone" mode="md"></ion-radio>
        <ion-label>Teléfono: {{options.phone}}</ion-label>
      </ion-item>
    </ion-list> -->
    <div class="text-left">
      <button class="btn btn-sm btn-citric mr-2" (click)="sentRequestToReset()">
        {{'generals.send' | translate}}
      </button>

      <button
        class="btn btn-sm btn-secondary"
        (click)="cancel_login.emit('checked_in_organization')"
      >
        {{'generals.cancel' | translate}}
      </button>
    </div>
  </div>

  <!-- Verify code -->
  <div class="col-12 col-md-10" *ngIf="options && actual_step === 2">
    <!-- no-lines
    no-padding
    text-wrap -->
    <div class="form-group" [formGroup]="verification_code_form">
      <label class="text-secondary">
        {{'users.verification_code' | translate}}
      </label>
      <input
        class="form-control"
        formControlName="code"
        type="tel"
        mask="0000-0000"
        [dropSpecialCharacters]="false"
      />
      <!-- [brmasker]="{ mask: '9999-9999', len: 9 }" -->
    </div>

    <div class="text-left">
      <button
        class="btn btn-sm btn-outline-citric mr-2"
        [disabled]="waiting_time > 0"
        (click)="sentRequestToReset()"
      >
        {{'generals.resend' | translate }}
        <span *ngIf="waiting_time > 0"> ({{waiting_time}}) </span>
      </button>

      <button
        class="btn btn-sm btn-citric"
        (click)="verifyCode()"
        [disabled]="verification_code_form.invalid || is_verifying"
      >
        {{'generals.next' | translate}}
      </button>
    </div>
  </div>

  <!-- Reset -->
  <div
    class="col-12 col-md-10"
    *ngIf="options && actual_step === 3"
    [formGroup]="new_password_form"
  >
    <div class="form-group" formGroupName="matching_passwords">
      <label class="text-secondary">
        {{'users.new_password' | translate }}
      </label>
      <input class="form-control" formControlName="password" type="password" />
    </div>
    <div class="form-group" formGroupName="matching_passwords">
      <label class="text-secondary">
        {{'users.confirm_password' | translate }}
      </label>
      <input
        class="form-control"
        formControlName="confirm_password"
        type="password"
      />
    </div>

    <div class="text-left my-2">
      <span
        class="text-danger"
        *ngIf="new_password_form.get('matching_passwords').get('confirm_password').valid && password_did_not_match"
      >
        <i class="fa fa-info-circle"></i>
        {{'users.password_did_not_match' | translate}}
      </span>
    </div>

    <div class="text-left">
      <button
        class="btn btn-sm btn-secondary mr-2"
        (click)="cancel_login.emit('checked_in_organization')"
      >
        {{'generals.cancel' | translate}}
      </button>
      <button
        class="btn btn-sm btn-citric"
        [disabled]="new_password_form.invalid || wait_reset || password_did_not_match"
        (click)="updatePassword()"
      >
        {{ 'generals.reset' | translate }}
      </button>
    </div>
  </div>

  <!-- End -->
  <div class="col-12 col-md-10 mt-2" *ngIf="options && actual_step === 4">
    <div class="text-left">
      <button
        class="btn btn-sm btn-citric"
        (click)="cancel_login.emit('checked_in_organization')"
      >
        {{'generals.enter' | translate}}
      </button>
    </div>
  </div>
</div>
