.bigIcon {
    padding: 5px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    vertical-align: top;
    display: inline-block;
    line-height: 40px;
    color: white;
}