.bigIcon {
    padding: 5px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    vertical-align: top;
    display: inline-block;
    line-height: 40px;
    color: white;
}
.rounded {
    border-radius: 50%;
}

/* Tooltip container */
.tooltip_ {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip_ .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip_ .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip_:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.select-country{
    --be-divider-default: #ced4da;
}
// .select-country {
//     display: block;
//     width: 100% !important;
//     height: calc(1.5em + 0.75rem + 2px) !important;
//     padding: 0.375rem 0.75rem !important;
//     font-size: 1rem !important;
//     font-weight: 400 !important;
//     line-height: 1.5 !important;
//     color: #495057 !important;
//     background-color: #fff !important;
//     background-clip: padding-box !important;
//     border: 1px solid #ced4da !important;
//     border-radius: 0.25rem;
//     transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//     .mat-form-field-infix {
//         border-top: unset !important;
//     }
// }

// .mat-form-field-infix-fixed {
//     > .mat-form-field-infix {
//         border-top: 0 !important;
//     }
//     mat-form-field {
//         .mat-form-field-wrapper {
//             .mat-form-field-flex {
//                 .mat-form-field-infix {
//                     border-top: 0 !important;
//                 }
//             }
//         }
//     }
//     border-top: 0 !important;
// }
