td.last_note_deadline {
    background: #ffadad;
    color: #790000;
}

td {
    vertical-align: middle;
}
app-disciple-note-form {
    display: block;
    position: relative;
    min-height: 500px;
}
.span-click {
    height: 31px;
    color: black;
    display: inline-block;
}
