.example-list {
  // width: 1000px;
  // max-width: 100%;
  // border: solid 1px #ccc;
  min-height: 60px;
  display: flex;
  // flex-direction: row;
  // background: white;
  border-radius: 4px;
  // overflow: hidden;
}
// .example-box:not(:last-child) {
//     margin-bottom: 40px;
// }
.is_last_element {
  margin-bottom: 40px;
}

.example-box {
  // padding: 20px 10px;
  border: solid 1px #ccc;
  // color: rgba(0, 0, 0, 0.87);
  // display: flex;
  // flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  // background: white;
  font-size: 14px;
  flex-grow: 1;
  flex-basis: 0;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.btn-disabled {
  opacity: 0.8;
  pointer-events: none !important;
}

app-organization-contact-info-form {
  display: contents;
}
.example-handle {
  position: absolute;
  top: -33px;
  right: -2px;
  color: #ccc;
  cursor: move;
  width: 30px;
  height: 30px;
  border: 1px solid;
  margin: 3px;
  text-align: center;
  border-radius: 3px 3px 0 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
i.noColor {
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: left;
  text-decoration: none;
  margin: 5px 5px 5px 5px;
  border-radius: 50%;
  vertical-align: top;
  display: inline-block;
  line-height: 40px;
}
