.credit-card{
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  background-color: whitesmoke;
}
.header{
  width: 100%;
  height: 50px;
  padding-left: 50px;
  padding-top: 5px;
  background: #E25D33 !important;
}
#inner {
  display: table;
  margin: 0 auto;
  padding-top: 5px;
}

#outer {
  width:100%
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15%;
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.round label:after {
  border: 2px solid #ff7529;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #ff7529;
  border-color: #ff7529;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
