<div id="passResetPage" class="container">
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-md-8 col-lg-6 is-vh-centered">
      <form
        [formGroup]="passwordForm"
        *ngIf="valiToken && !loading"
        (submit)="updatePassword(passwordForm)"
      >
        <h4>Reset your password</h4>
        <div class="input-group mt-2">
          <input
            [type]="passInputType"
            class="form-control"
            [ngClass]="{
              'is-invalid': passwordForm.get('password')['invalid']
            }"
            id="password"
            placeholder="Type your new password"
            formControlName="password"
            minlength="6"
            required
          />
          <div class="input-group-append" (click)="togglePassInput()">
            <span class="input-group-text">
              <i
                [ngClass]="
                  passInputType === 'password' ? 'fa-eye' : 'fa-eye-slash'
                "
                class="fas fa-eye"
                aria-hidden="true"
              >
              </i>
            </span>
          </div>
        </div>
        <button
          class="btn btn-success btn-block mt-2"
          [disabled]="passwordForm.invalid || changingPass"
          type="submit"
        >
          Change password
        </button>
      </form>
      <div *ngIf="loading" class="is-vh-centered">
        Checking reset token...
        <div class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div *ngIf="!loading && !valiToken" class="is-vh-centered">
        <div class="row justify-content-md-center">
          <div class="col-md-12">
            <div class="alert alert-danger text-center" role="alert">
              <h3>Sorry, but the token isn't valid or already expired.</h3>
            </div>
          </div>
          <div class="col-md-12" class="text-center">
            <a [routerLink]="['/login']" class="btn btn-link">
              Back to login
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
