<div class="container page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/events">Events</a>
      </li>
      <li class="breadcrumb-item active">
        {{ event?.titulo }}
      </li>
    </ol>
  </nav>

  <div class="cover-img" [ngStyle]="{ 'background-image': urlAttr }"></div>
  <h3 class="mt-2">{{ event.titulo }}</h3>
  <hr />

  <div class="property-box-list">
    <property-box [text]="event.descripcion" label="Description"></property-box>

    <property-box
      [text]="
        event.provincia +
        ' ' +
        event.cuidad +
        ' ' +
        event.calle +
        ' ' +
        event.zip
      "
      label="Address"
    ></property-box>

    <property-box [text]="event.nivelAcceso" label="Frequency"></property-box>
    <property-box
      text="{{ event.fechaFin | date: 'mediumDate' }}"
      label="Finish date"
    ></property-box>
    <property-box [text]="event.hora" label="Time"></property-box>
  </div>
</div>
