.steps-list {
  padding: 0px;
  list-style: none;

  li {
    padding: 10px 8px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: rgb(214, 214, 214);
    }

    &.active {
      background-color: #e65100;
      color: white;
    }
  }
}
.custom .notaItemContainer {
  background-color: rgb(255, 244, 196);
  margin-top: 10px !important;
  border-radius: 10px;
  .notaItemDate {
    text-align: right;
    padding: 15px;
    border-bottom: 3px solid rgb(233, 198, 45);
    color: rgb(102, 93, 55);
  }
  .notaItemDescripcion {
    padding: 15px;
    text-align: justify;
    margin: 0;
    //padding: 37px 55px 27px;
    position: relative;
    //border: 1px solid #B5B5B5;
    //background: white;
    background: -webkit-linear-gradient(to bottom, rgba(245, 226, 141, 0.6) 0%, rgb(255, 244, 196) 8%) 0 57px;
    background: -moz-linear-gradient(to bottom, rgba(245, 226, 141, 0.6) 0%, rgb(255, 244, 196) 8%) 0 57px;
    background: linear-gradient(to bottom, rgba(245, 226, 141, 0.6) 4%, rgb(255, 244, 196) 8%) 0 57px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 14px;
  }
  .notaItemDescripcion::before {
    content: "";
    z-index: -1;
    margin: 0 1px;
    width: 706px;
    height: 10px;
    position: absolute;
    bottom: -3px;
    left: 0;
  }
  .notaItemDescripcion::after {
    content: "";
    position: absolute;
    width: 0px;
    top: 0;
    left: 8px;
    bottom: 0;
    border-left: 1px solid #f8d3d3;
  }
}
::ng-deep {
  .mat-calendar {
    background-color: white;
    .mat-calendar-body-selected {
      border: 2px solid green;
    }
  }
  .fix-margin{
    .mat-form-field-wrapper {
      margin-top: 30px !important;
    }
  }
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
