.notaItemContainer {
  background-color: rgb(255, 244, 196);
  margin-top: 10px !important;
  border-radius: 10px;
  .notaItemDate {
    text-align: right;
    padding: 15px;
    border-bottom: 3px solid rgb(233, 198, 45);
    color: rgb(102, 93, 55);
  }
  .notaItemDescripcion {
    padding: 15px;
    text-align: justify;
    margin: 0;
    //padding: 37px 55px 27px;
    position: relative;
    //border: 1px solid #B5B5B5;
    //background: white;
    background: -webkit-linear-gradient(
        to bottom,
        rgba(245, 226, 141, 0.6) 0%,
        rgb(255, 244, 196) 8%
      )
      0 57px;
    background: -moz-linear-gradient(
        to bottom,
        rgba(245, 226, 141, 0.6) 0%,
        rgb(255, 244, 196) 8%
      )
      0 57px;
    background: linear-gradient(
        to bottom,
        rgba(245, 226, 141, 0.6) 4%,
        rgb(255, 244, 196) 8%
      )
      0 57px;
    -webkit-background-size: 100% 30px;
    -moz-background-size: 100% 30px;
    -ms-background-size: 100% 30px;
    background-size: 100% 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 14px;
  }
  .notaItemDescripcion::before {
    content: "";
    z-index: -1;
    margin: 0 1px;
    width: 706px;
    height: 10px;
    position: absolute;
    bottom: -3px;
    left: 0;
  }
  .notaItemDescripcion::after {
    content: "";
    position: absolute;
    width: 0px;
    top: 0;
    left: 8px;
    bottom: 0;
    border-left: 1px solid #f8d3d3;
  }
}

.note-list {
  list-style: none;
  padding: 0px;

  li.note-item {
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
    transition: 0.3s;
    padding: 6px 10px;

    border-bottom: 2px solid #dfdfdf;

    .content {
      width: 80%;
      word-break: break-all;

      .title-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        .title {
          font-weight: 500;
        }
        .time {
          font-size: smaller;
          color: rgb(148, 148, 148);
        }
      }
    }

    .icon {
      min-width: 64px;
      span {
        background-color: #999999;
        height: 48px;
        width: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        border-radius: 128px;
        margin-right: 12px;
      }
    }

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
::ng-deep .ng-select-container {
  height: 5px !important;
  font-size: 0.8em!important;
}
