<!-- <ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="slidesByLang">
  <ngu-tile *nguCarouselDef="let item; let j = index">
    <slide-item [slide]="item"></slide-item>
  </ngu-tile>
  <button
    NguCarouselPrev
    class="leftRs slider-arrow"
    [style.opacity]="myCarousel.isFirst ? 0.5 : 1"
  >
    <i class="fa fa-chevron-left"></i>
  </button>
  <button
    NguCarouselNext
    class="rightRs slider-arrow"
    [style.opacity]="myCarousel.isLast ? 0.5 : 1"
  >
  <i class="fa fa-chevron-right"></i>
  </button>
</ngu-carousel> -->
