.disciple_picture,
.discipler_picture {
    border-radius: 50%;
}

.discipler_picture {
    width: 60px;
}
.disciple_picture {
    width: 60%;
}
.note-container{
    border-radius: 8px;
    border: 1px solid gainsboro;
    margin-bottom: 4px;
}
