.container-header {
  height: 350px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.article-background-page {
  .card {
    position: relative;
    // height: 350px;
    // max-height: 300px;
    margin: 0;
    border-radius: 2px;
    width: 100% !important;
    text-align: left;
    // overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .card-text {
    position: absolute;
    top: 85%;
    left: 15px;
    width: 90%;
    text-shadow: 2px 2px 5px #999;

    .card-subtitle {
      color: #ffff36;
      font-size: 1.4rem;
      text-shadow: 1px 1px 1px #999;
      font-family: avenir_light !important;
      text-align: right;
    }
  }
}
.break-line {
  background-color: #ededed;
  height: 0.6rem;
}
.card-content {
  width: 100%;
  // color: #a0a0a0;
  font-size: 1.5rem;
  // font-family: gotham_book !important;
  line-height: 2.2rem;
}

@media screen and (max-width: 1200px) {
  .article-background-page {
    .card {
      // height: 400px;
      // max-height: 400px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .article-background-page {
    .card {
      // height: 460px;
      // max-height: 460px;
    }
  }
}
@media screen and (max-width: 992px) {
  .article-background-page {
    .card {
      // height: 350px;
      // max-height: 350px;
    }
  }
}
@media screen and (max-width: 768px) {
  .article-background-page {
    .card {
      // height: 240px;
      // max-height: 240px;
    }
  }
}

.color-header-div {
  height: 300px;
  width: 100%;
  position: relative;
}

.flex-header {
  height: 100%;
  display: flex;
  position: absolute;
  width: 100%;
}

.form-invisible {
  width: 100%;
  border: unset;
  border-bottom: 1px solid gainsboro;
  align-self: center;
  background: transparent;
  height: 40px;
  max-height: 40px;
}

.rectangle {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  // background-color: #fd4140;
  // border: solid 1px #121621;
  color: #121621;
  margin: auto;
  overflow-y: hidden;
  border-radius: 0 0 15px 15px;
}

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}

.resize-handle-top,
.resize-handle-bottom {
  position: absolute;
  height: 5px;
  cursor: row-resize;
  width: 100%;
  z-index: 10;
}

.resize-handle-top {
  top: 0;
}

.resize-handle-bottom {
  bottom: 0;
  background: #007bb5;
}

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  height: 100%;
  cursor: col-resize;
  width: 5px;
}

.resize-handle-left {
  left: 0;
}

.resize-handle-right {
  right: 0;
}

.rectangle {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  // background-color: #fd4140;
  // border: solid 1px #121621;
  color: #121621;
  margin: auto;
  overflow-y: hidden;
  border-radius: 0 0 15px 15px;
}

.popup-container {
  position: absolute;
}

.popup {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
}

.popup-text {
  color: #333;
}

.align-self-base {
  align-self: flex-start;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: end;
}
