<div id="hidden_map" hidden></div>
<form
  *ngIf="view_mode === 'edition'"
  style="width: 100%"
  #group_form="ngForm"
  [formGroup]="contact_form"
  (submit)="submitContact(contact_form, group_form)"
>
  <ng-template [ngIf]="!show_detail">
    <div class="d-flex justify-content-center" style="margin: 15%">
      <div
        class="spinner-border text-citric"
        style="width: 6rem; height: 6rem"
        role="status"
      ></div>
    </div>
  </ng-template>

  <div [hidden]="!show_detail" class="tab-content mb-3">
    <div [ngClass]="{ 'm-0': show_as_minimal }" class="row">
      <div class="col-12">
        <div class="row mb-4 border-bottom">
          <div class="col-6 d-md-none">
            <h5 class="text-secondary">Address</h5>
          </div>
          <div class="col-5 col-md-10 text-right align-self-center">
            <label class="text-citric" for="idOrganization">
              Add Address
            </label>
          </div>
          <div class="col-1 text-center align-self-center">
            <button
              (click)="addItem()"
              type="button"
              class="btn btn-outline-success circular-button"
            >
              <mat-icon matPrefix>add</mat-icon>
            </button>
          </div>
        </div>

        <div class="col-12 p-0 mb-5 d-md-none" *ngIf="displayEmptyMessage()">
          <h5 class="text-danger">There isn't any address yet.</h5>
          <hr />
        </div>

        <div
          *ngFor="
            let address of addresses.controls;
            let i = index;
            let last = last;
            let first = first
          "
        >
          <div
            formArrayName="addresses"
            class="p-0 col-12"
            style="padding-top: 5px"
          >
            <div [formGroupName]="i" [hidden]="!address.get('status').value">
              <div class="row">
                <div
                  [ngClass]="{
                    'col-md-4': !show_as_minimal,
                    'col-8': isFirstAvailable(address, i),
                    'col-12': !isFirstAvailable(address, i)
                  }"
                  class="p-0"
                >
                  <div
                    [ngClass]="{ 'mb-0': show_as_minimal }"
                    class="form-group"
                    style="display: flex; flex-direction: column"
                  >
                    <label for=""> Name </label>
                    <input
                      formControlName="name"
                      class="form-control mb-1"
                      placeholder="Add a address name"
                      type="text"
                      required
                    />
                  </div>
                </div>
                <div *ngIf="isFirstAvailable(address, i)" class="col-4 align-self-end">
                  <div class="form-group form-check mb-0">
                    <input
                      formControlName="show_map"
                      (change)="toggleShowMap()"
                      type="checkbox"
                      class="form-check-input"
                      id="show_map"
                    />
                    <label class="form-check-label" for="show_map">
                      Show map
                    </label>
                  </div>
                </div>
                <div
                  [ngClass]="{ 'col-md-6 px-md-2': !show_as_minimal }"
                  class="p-0 col-10"
                >
                  <div
                    [ngClass]="{ 'mb-0': show_as_minimal }"
                    class="form-group"
                    style="display: flex; flex-direction: column"
                  >
                    <label for=""> Address </label>
                    <!-- *ngIf="entryFormModal.isVisible()" -->
                    <!-- *ngIf="init_map" -->
                    <google-address-component
                      #google_address_component
                      [value]="address.get('full_address').value"
                      placeholder="Please type the location info about this member."
                      adressType="address"
                      (setAddress)="getAddress(address, $event)"
                    ></google-address-component>
                    <!-- [value]="entryForm.locations" -->
                  </div>
                </div>
                <div class="col-2 align-self-center">
                  <button
                    [ngClass]="{
                      'mt-2': !show_as_minimal,
                      'mt-4': show_as_minimal
                    }"
                    type="button"
                    (click)="removeItem(i)"
                    class="btn btn-outline-danger circular-button"
                  >
                    <mat-icon matPrefix>delete</mat-icon>
                  </button>
                </div>
              </div>
              <hr *ngIf="!last" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 mt-2 text-center">
        <button class="btn btn-sm btn-success">Submit</button>
      </div>
    </div>
  </div>
</form>

<div *ngIf="view_mode !== 'edition'" style="width: 100%">
  <div class="row">
    <div class="col-12">
      <div
        class="row m-0 p-0"
        *ngFor="let address of active_addresses; let last = last"
      >
        <div class="col-2 text-left align-self-center">
          <i class="noColor fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="col-10 text-left">
          <p class="card-text">
            <span class="text-secondary">
              {{ address.get("name").value }}
            </span>
            <br />
            <small *ngIf="!address.get('url').value">
              {{ address.get("full_address").value }} 
            </small>
            <a
              *ngIf="address.get('url').value"
              [href]="address.get('url').value"
              target="_blank"
            >
              <small class="p-as-h5">
                {{ address.get('full_address').value }}
              </small>
            </a>
          </p>
        </div>
        <div *ngIf="!last" class="col-12 text-center">
          <hr class="m-0" />
        </div>
      </div>
    </div>
  </div>
</div>

<small class="text-danger bold" *ngIf="contact_form.dirty">
  * Remember save your changes.
</small>
