form {
  width: 100%;
}

.drag-list {
  width: 100%;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #eeeeee;
}

.drag-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;

  &.selected {
    background-color: #eeeeee;
    border: 1px solid;
  }

  &.no-move {
    cursor: pointer;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.text-centered {
  text-align: center;
}

.item {
  padding: 15px 0px;
}

.builder-scroll {
  min-height: 0px;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  transition: 0.3s;
}
.card-img-top-fixed {
  object-fit: cover;
  object-position: left center;
  height: 200px;
}

.card-fixed-text {
  height: 200px;
}

.card {
  border: none !important;
}

.opacity-layer {
  background: unset;
}
