.custom-control.custom-radio {
    font-size: 1.2rem;
    padding: 5px 10px;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #e65100;
    background-color: #e65100;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -1px;
    left: -13px;
    height: 25px;
    width: 25px;
    z-index: 2;
    border-color: #e65100;
    background-color: #e65100;
    cursor: pointer;
}

/* On mouse-over, add a grey background color */
input ~ .checkmark {
    background-color: white;
    border: 1px solid #ccc;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
    background-color: #28a745;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.drag-list {
    width: 100%;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #eeeeee;
}

.drag-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;

    &.selected {
        background-color: #eeeeee;
        border: 1px solid;
    }

    &.no-move {
        cursor: pointer;
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
    border: none;
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
