.menu-container {
  padding-top: 1.5rem;
  background: #f8f9fa;
}

.login_link {
  // color: #007bff !important;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.main-dashboard {
  min-height: 100vh;

  /** BANNER AREA */
  .banner-container {
    background-image: url("/assets/img/default-cover-image.jpg");
    background-color: white;
    background-position: center;
    background-size: cover;

    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    // filter: blur(10px);
    text-align: center;
    overflow: hidden;
    .original {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 10;
      object-fit: contain;
    }
    .blurred {
      width: 130%;
      position: absolute;
      height: 100%;
      left: -10px;
      z-index: 0;
      filter: blur(10px) brightness(0.9);
      left: 10px;
    }

    .edit-cover-btn {
      position: absolute;
      top: 15px;
      right: 15px;
      border-radius: 50%;
      border: 1px dotted gainsboro;
      height: 40px;
      width: 40px;
      z-index: 20;
    }

    .logo-container {
      background-color: white;
      position: absolute;
      bottom: -40px;
      // padding: 8px;
      // border-radius: 8px;
      box-shadow: 0px 0px 5px 0px #00000036;
      border-radius: 50%;
      border: 5px solid lightgrey;
      left: 3%;

      .logo-container-overflow {
        overflow: hidden;
        border-radius: 50%;
        img {
          // min-width: 180px;
          // max-width: 210px;
          // min-height: 180px;
          // max-height: 210px;
          min-width: 170px;
          max-width: 170px;
          min-height: 170px;
          max-height: 170px;
          height: auto;
          object-fit: contain;
          object-position: center center;
          padding: 8px;
        }
      }

      .edit-logo-btn {
        position: absolute;
        right: 0px;
        border-radius: 50%;
        border: 1px dotted gainsboro;
        height: 40px;
        width: 40px;
      }
    }
  }

  .general_info {
    // margin-top: 10px;
    &.no-margin {
      margin-top: 45px;
      margin-bottom: 2em;
    }
  }
}

.organization-name-h2 {
  color: white;
  position: absolute;
  //   left: calc(3% + 196px);
  margin-left: 20px;
  bottom: 0;
  text-shadow: 2px 2px 8px #000000;
  z-index: 11;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: white !important;
  border-bottom: 1px #e65100 solid !important;
  border-right: 0px solid;
}
.btn-citric:not(:disabled):not(.disabled).active {
  color: white !important;
}

.nav-pills .nav-link {
  border-radius: unset;
}

.active {
  color: #e65100 !important;
}

// a.text-citric:hover,
a.text-citric:focus {
  color: #e65100 !important;
}

.card.scrollable {
  overflow: scroll;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1020px !important;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1260px !important;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px !important;
  }
}

.disabled_menu {
  pointer-events: none;
  opacity: 0.6;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -1px;
  left: -13px;
  height: 25px;
  width: 25px;
  z-index: 2;
  border-color: #e65100;
  background-color: #e65100;
  cursor: pointer;
}

/* On mouse-over, add a grey background color */
input ~ .checkmark {
  background-color: white;
  border: 1px solid #ccc;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
  background-color: #28a745;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.disclaimer-div {
  background: #e8e8e8;
  color: black;
  text-align: left;
  padding: 10px;
}

.px-6 {
  padding: 0px 1rem;
}
@media (min-width: 768px) {
  .px-6 {
    padding: 0px 6rem;
  }
}

.circular-button {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  padding-left: 8px;
}

.align-center-fixer {
  text-align: center !important;
}
