/*


  .minh-100 {
      height: 95vh;
    }



    .first{

      background: rebeccapurple;
      color:#fff;
      text-align: center;
    }
    .EstiloMio
    {
      height:600px; 
      background-color:white; 
      width:600px;
    }

    body
{
background-color: #FFFFFF;
}


.boton{
  width:40px;
  height:40px;
  background-color:darkslategray;
  margin: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.boton:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}
.boton a{
  color:#fff;
  text-decoration:none;
  padding:5px 5px 5px 0;
}

.borde {
  border: 1px #000 solid;
  text-align: center;
  height: 50px;
}


.color3 {
  background: crimson;

}

.color7 {
  background: cornflowerblue;

}

.color2 {
  opacity: .90;
  background: rgb(238, 238, 238);
  height: 350px;
  width: 250px;
}


.color4 {

  height: 750px;
}




*/

/////////////////////////////////////////////////////////////////@at-root







img.logo {
  height: 64px;
  width: 64px;
  border-radius: 100%;
}



.Fondo {
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/fondoInglesia.jpg);
  position: absolute;
  left: 0px;
  top: 0px;

}

input {
  width: auto;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
input:focus {
  width: auto;
  border: 0;
  outline: 0;
  background:transparent;
  border-bottom: 1px solid #005da6;
  }

.colorButton{

  background: #005da6;
  color: #fff;
}

header
{
background: #2c3e50;
color: #fff;

}
.main{
  background: #f2f2f2;
}
.color1
{
  background: transparent;
color:#fff;
height: 240px;
}

.color2
{
  background: #f2f2f2;

//height: 340px;
}
