<ng-template [ngIf]="loading">
  <div
    class="d-flex justify-content-center col-12"
    style="margin-top: 10%; margin-bottom: 10%"
  >
    <div
      style="height: 120px; width: 120px; font-size: 15px; border-width: 0.45em"
      class="spinner-border text-citric"
      role="status"
    ></div>
  </div>
</ng-template>
<div
  *ngIf="!hide_buttons"
  [hidden]="loading"
  class="row justify-content-end"
  [ngClass]="{ 'mx-0': is_full_width }"
>
  <div class="col-2 mb-2" [ngClass]="{ 'px-0': is_full_width }">
    <button
      (click)="on_close_video?.emit()"
      class="btn btn-sm btn-outline-citric col-12"
    >
      Close
    </button>
  </div>
</div>

<div class="video-responsive">
  <iframe
    [hidden]="loading"
    (load)="loading = false"
    width="100%"
    height="315"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share; fullscreen;"
    [src]="safe_src"
    allowfullscreen
    frameborder="0"
    scrolling="no"
    allowfullscreen="true"
  >
  </iframe>
</div>
<div
  class="w-100 ec-bottom-border-radius abs-pos more-forward downlow p-l-spacer-xl p-b-spacer-lg"
>
  <!-- Title -->
  <h3 class="text-dark text-left m-b-spacer-none m-t-spacer-xs bold sec-font">
    {{ video?.title }}
  </h3>

  <!-- Subtitle -->
  <h6 *ngIf="video?.speaker" class="text-gray m-0 m-b-spacer-none">
    {{ video?.speaker }}
  </h6>
  <p class="sec-title text-gray text-left m-b-spacer-none">
    {{ video?.description }}
  </p>
</div>

<hr />

<!-- <div class="video-responsive">
  <iframe
    src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FDisney%2Fposts%2F10158503020190954&width=500&show_text=false&appId=789955441344979&height=282"
    width="100%"
    height="282"
    style="border: none; overflow: hidden"
    scrolling="no"
    frameborder="0"
    allowfullscreen="true"
    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
  ></iframe>
</div> -->
