.bigIcon {
    padding: 5px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    vertical-align: top;
    display: inline-block;
    line-height: 40px;
    color: white;
}
.rounded {
    border-radius: 50%;
}

.no-wrap {
    flex-wrap: nowrap;
}
.store-logos {
    width: 100%;
}

.img-container {
    height: 100px;
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.tabs-horizontal {
    margin-top: 1.5rem !important;
}

.logo {
    height: 40px;
    border-radius: 5px;
    padding-right: 10px;
}
