.label:not(:last-child) {
    margin-bottom: 0.5em;
}

.label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: left;
}

.control.has-icons-left .input,
.control.has-icons-left .select select {
    padding-left: 2.5em;
}

.input,
.textarea {
    box-shadow: inset 0 0.0625em 0.125em rgb(10, 10, 10 / 5%);
    max-width: 100%;
    width: 100%;
}
.input,
.select select,
.textarea {
    background-color: #fff;
    border-color: #dbdbdb !important;
    border-radius: 4px;
    color: inherit;
}

.file-cta,
.file-name,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}
.control.has-icons-left .icon.is-left {
    left: 0;
}
.control.has-icons-left .icon,
.control.has-icons-right .icon {
    color: #dbdbdb;
    height: 2.5em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2.5em;
    z-index: 4;
}

.icon.is-small {
    height: 1rem;
    width: 1rem;
}
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
span {
    font-style: inherit;
    font-weight: inherit;
}

@media (min-width: 576px) {
    .resized-fa-icon::before {
        font-size: 40px !important;
        /* color: coral !important; */
    }
}

@media (min-width: 110px) {
    .resized-fa-icon::before {
        font-size: 30px !important;
        /* color: coral !important; */
    }
}

.img-container > img, .logo-container > img  {
    width: 100%;
    height: auto;
}
/** BUTTONS */
.is-itech {
    background-color: #e65100;
    border-color: transparent;
    color: #fff;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    font-size: 1rem;
    height: 2.5em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);
    position: relative;
    vertical-align: top;
}
.not-provided {
    font-style: italic;
    color: lightslategray;
}

.input.is-invalid {
  border-color: #dc3545 !important;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.text-300{
    font-weight: 300;
}

.italic{
    font-style: italic;
}