.card-body {
    .group-picture {
        margin: unset;
        border: 2px solid gainsboro;
        max-width: 507px;
        cursor: pointer;
        width: 100%;
    }
}

img.responsive {
    max-width: 200px;
}
