.content-detail-container {
  border: 2px solid gray;
  padding: 10px;
  border-radius: 10px;
}

.header-note {
//   background: gainsboro;
//   border-radius: 8px 8px 0 0;
}

hr {
  margin: 2px !important;
}
