@use "sass:color";

@function set-text-color($color) {
  @if (color.channel($color, 'lightness', $space: hsl) > 50) {
    @return $black; // Lighter color, return black
  } @else {
    @return $white; // Darker color, return white
  }
}

.sticky-left {
  background: white;
}

.inline-block {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .sticky-left {
    position: sticky;
    left: 0;
    z-index: 10;
    background: white;
  }
}
@media only screen and (max-width: 768px) {
  .input-group-fixed {
    height: 76px;
    .form-control {
      width: 100%;
    }
    .input-group-append {
      width: 100%;
      justify-content: end;
      button {
        border-top-left-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
      }
    }
  }
  .edit-btn {
    float: right;
    margin-top: -32px;
    width: 77px;
    /* margin-right: -15px; */
    margin-bottom: 14px;
  }
}

::ng-deep {
  .qrItemResize-step {
    display: block;
    width: 120px;
    float: right;
    img {
      max-width: 120px;
      width: 120px;
      height: 120px;
    }
  }
  .qrItemResize-step:hover {
    img {
      max-width: 150px;
      width: 150px;
      height: 150px;
      position: absolute;
      z-index: 4;
    }
  }
}