<!-- album.album_galleries -->
<ng-template [ngIf]="loading">
  <div
    class="d-flex justify-content-center col-12"
    style="margin-top: 10%; margin-bottom: 10%"
  >
    <div
      style="height: 120px; width: 120px; font-size: 15px; border-width: 0.45em"
      class="spinner-border text-citric"
      role="status"
    ></div>
  </div>
</ng-template>
<div *ngIf="!loading" class="gallery-container">
  <div class="text-center">
    <h3
      [ngStyle]="{
        'text-align': style_settings?.home_title_text_align || 'center',
        color: style_settings?.home_title_text_color || '#000000',
        'font-weight': style_settings?.home_title_text_bold || 'bolder'
      }"
    >
      {{ album?.name }}
    </h3>
    <span>{{ album?.description }}</span>
  </div>
</div>
<div
  class="row justify-content-center"
  [ngClass]="style_settings?.is_full_width ? 'mx-0' : ''"
  *ngIf="!selected_gallery && album?.album_galleries?.length > 1 && !loading"
>
  <div
    [ngClass]="{
      'col-12': style_settings?.is_full_width,
      'col-10': !style_settings?.is_full_width
    }"
    class="row mt-1 mx-0 px-2 py-4"
  >
    <div
      #container_div
      class="col-xs-12 col-sm-6 col-md-3 p-1 mt-2"
      (click)="selectGallery(gallery, i)"
      *ngFor="let gallery of album?.album_galleries; let i = index"
      style="padding: 0px"
    >
      <div class="img-container">
        <div class="img-display" [ngStyle]="calculateHeight(container_div)">
          <div
            #self_div
            class="bg-img"
            [ngStyle]="getNewStyle(gallery.gallery_cover, self_div)"
          ></div>
        </div>
        <small class="text-secondary">
          {{ gallery.name }}
        </small>
      </div>
    </div>
  </div>
</div>
<app-gallery-v2
  #gallery_embed
  *ngIf="selected_gallery"
  [idGallery]="selected_gallery.id"
  [is_from_album]="true"
  [style_settings]="style_settings"
  (on_close)="close()"
></app-gallery-v2>
