.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #e65100;
    background-color: #e65100;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: white !important;
    border-bottom: 1px #e65100 solid !important;
    border-right: 0px solid;
}
.btn-citric:not(:disabled):not(.disabled).active {
    color: white !important;
}

.nav-pills .nav-link {
    border-radius: unset;
}

.active {
    color: #e65100 !important;
}

// a.text-citric:hover,
a.text-citric:focus {
    color: #e65100 !important;
}

.padding-fixed {
    border-top: 1px solid;
    border-right: 1px solid;
    border-color: #e2e1e0;
}

.header {
    margin-right: unset !important;
}

.bg-citric {
    background: lighten(#e65100, 13%) !important;
}
.navbar-business {
    background: lighten(#a82703, 3%) !important;
}

.menu-container_check {
    padding-top: 1.5rem;
    background: #f8f9fa;
}

.tab-content {
    min-height: 400px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -1px;
    left: -13px;
    height: 25px;
    width: 25px;
    z-index: 2;
    border-color: #e65100;
    background-color: #e65100;
    cursor: pointer;
}

/* On mouse-over, add a grey background color */
input ~ .checkmark {
    background-color: white;
    border: 1px solid #ccc;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
    background-color: #28a745;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
