.circular-button {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    padding-left: 8px;
}

.btn-outline-danger.circular-button {
    max-width: 32px !important;
    max-height: 32px !important;
    padding-left: 6px;
    padding-top: 5px;
    mat-icon {
        height: 18px !important;
        width: 18px !important;
        font-size: 20px;
    }
}

.border-bottom{
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
}