.centerImg img {
    width: 35%;
    max-width: 170px;
}

.has_new_icons {
    color: #006100 !important;
    background-color: #C6EFCE;
    .text-citric {
        color: #006100 !important;
    }
}
.table-striped tbody tr:nth-of-type(odd).has_new_icons {
    background-color: rgba(0, 97, 0, 0.4) !important;
}

.inactive {
    color: #9c0006 !important;
    background-color: #ffc7ce;
    .text-citric {
        color: #9c0006 !important;
    }
}

.table-striped tbody tr:nth-of-type(odd).inactive {
    background-color: rgba(156, 0, 6, 0.4) !important;
}

.organization-picture {
    width: 80px;
}

.bigIcon {
    padding: 0;
    font-size: 25px;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    vertical-align: top;
    display: inline-block;
    line-height: 35px;
    color: white;
}
.rounded {
    border-radius: 50%;
}
