.gallery-item {
  min-height: 250px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin: 8px;
  background-size: contain;
  position: relative;
  .btn {
    position: relative;
    z-index: 2;
  }
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer;
    .icon:before {
      //font-awesome
      content: "\f093";
    }
    &.has-file {
      .icon:before {
        //font-awesome
        content: "\f00c";
        color: #5aac7b;
      }
    }
  }
}

.btn-tertiary {
  color: #555;
  padding: 0;
  line-height: 40px;
  width: 300px;
  margin: auto;
  display: block;
  border: 2px solid #555;
  &:hover,
  &:focus {
    color: lighten(#555, 20%);
    border-color: lighten(#555, 20%);
  }
}

.menu-container {
  display: inline-block;
  position: relative;
}

/* Style for the menu trigger (usually a button or link) */
.menu-trigger {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}

/* Style for the menu items */
.menu-items {
  display: none; /* Initially hidden */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  min-width: 150px;
}

/* Show the menu items when hovering over the menu container */
.menu-container:hover .menu-items {
  display: block;
}

/* Style for individual menu items */
.menu-item {
  padding: 5px 0;
  color: #333;
  text-decoration: none;
  display: block;
}

/* Hover effect for menu items */
.menu-item:hover {
  background-color: #f0f0f0;
}
.position-row {
  display: flex;
  width: 66px;
  flex-wrap: wrap;
}
.position-btn {
  text-align: center;
  width: 20px;
  height: 20px;
  background: lightgrey;
  margin: 1px;
  border-radius: 4px;
  color: white;
  line-height: 20px;
  &.active {
    background: rgb(82, 82, 82);
  }
}

::ng-deep {
  .cropper-crop-box {
    pointer-events: none !important;
  }
  // .cropper {
  //   // width: 100%;
  //   height: 300px;
  //   &-view-box {
  //     outline-color: transparentize(map-get($colors, citric), 0.75);
  //     outline: 1px solid var(--ion-citric);
  //   }

  //   &-point {
  //     background-color: var(--ion-citric);
  //   }
  // }
  .cropper {
    width: 444.44px;
    height: 250px;
    &-view-box {
      outline-color: transparentize(#e65100, 0.75);
      outline: 1px solid #e65100;
    }

    &-point {
      background-color: #e65100;
    }
  }
}
.test-form {
  position: relative;
  // max-width: 100px;
  // max-height: 40px;
  // width: 100%;
  // height: 250px;
  width: 444.44px;
  height: 250px;
  // position: absolute;
  top: 0;
  overflow: hidden;
}
.img-tag-test {
  height: 250px;
  width: 444px;
  position: relative;
  top: 20px;
  overflow: hidden;
  border: 1px solid red;
}
.img-to-test {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
