app-video-detail {
    width: 100%;
    padding: 15px 0;
    border-bottom: 2px solid darkgray;
}

.description-text {
    font-size: 14px;
    text-align: justify;
}

.date-text {
    font-weight: lighter;
    font-size: 11px;
}
