<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mt-2">SALON</h1>
      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-light" (click)="addSalon()">
            <i class="fa fa-user-plus"></i> ADD SALON
          </button>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col-md-12">
          <table datatable class="table row-border hover" >
            <thead>
              <tr>              
                <th>Salon</th>
                <th>Space</th>
                <th>Description</th>    
                <th>Actions</th>             
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sala of salones; let i = index">
                <td>{{ sala.salon }}</td>
                <td>{{ sala.espacio }}</td>
                <td>{{ sala.description }}</td>
                <td>
                  <button class="btn btn-info ml-2"  (click)="editSalon(i)">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button class="btn btn-danger ml-2" (click)="deleteSalon(i)">
                    <i class="fa fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #formModal identifier="formModal" customClass="medium-modal">
  <add-formsalon  (AddNuevoSalon)= "addNombreSalon($event)"
  (AddEspacioSalon)= "addSpaceSalon($event)"
  (AddDescriptionSalon)= "addDescripSalon($event)" 
  >
  <!-- (onSubmit)="addSalones()" -->
</add-formsalon>
</ngx-smart-modal>

<ngx-smart-modal #editModal identifier="editModal" customClass="medium-modal" >

    <edit-formsalon [pasarSalon] = 'pasarSalon' 
    [pasarSpace] = 'pasarSpace' [pasarDescripcion] = 'pasarDescripcion' 
    (retornaSalon)= "recuperarNombreSalon($event)"
    (retornaSpace)= "recuperarSpaceSalon($event)"
    (retornaDescripcion)= "recuperarDescripSalon($event)">
    </edit-formsalon>

  </ngx-smart-modal>