.status {
  padding: 5px;
  color: white;
  border-radius: 8px;
  font-weight: 600;
}
.slides-image-fixer {
  height: 100px;
}
.slide-image {
  height: 100%;
  // width: 50%;
  display: inline-block;
  position: relative;
  z-index: 1;
  img {
    z-index: 1;
    height: 100px;
    width: auto;
    padding: 0 10px;
  }
  button {
    max-width: 20px !important;
    max-height: 20px !important;
    width: 20px !important;
    height: 20px;
    padding: 0 !important;
  }
}

div.scrollmenu {
  // background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding-top: 15px;
}

div.scrollmenu div {
  display: inline-block;
  color: #262d62;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  //   width: 150px;
  min-height: 150px;
  max-height: 150px;
  vertical-align: top;
  h6 {
    white-space: pre-line !important;
  }
}

div.scrollmenu div:hover {
  background-color: rgb(230, 230, 230);
}

.btn.disabled,
.btn:disabled {
  opacity: 1 !important;
}

.management {
  background: gainsboro;
  border-radius: 8px;
  padding: 10px;
  margin: 15px;
}

.header {
  font-weight: 700;
  font-size: 17px;
}

.subtext {
  font-size: 12px;
}

.fixed-edit {
  height: 25px;
  padding: 0px 10px;
}

.fix-note-span {
  max-height: 100px;
  overflow: scroll;
}
