<div
  *ngIf="!selected_file"
  class="col-12 mb-3 align-self-stretch p-0"
  [ngClass]="{
    playing: media_item.idVideo === selected_file?.idVideo,
    'col-md-4': !handle_as_page
  }"
  (click)="openDocument(media_item)"
>
  <!-- [href]="last_video.url" -->
  <!-- [href]="media_item.url" target="_blank" -->
  <div class="row" style="width: 100%; height: 100%">
    <div class="col-6 pl-0 align-self-center">
      <img
        [alt]="media_item.title"
        [src]="getPicture(media_item.thumbnail)"
        class="recent_video_thumbnail ec-border-radius ec-box-shadow full-width lazyloaded"
        onerror="this.onerror=null; this.src='https://iglesiatech.app/assets/img/default-image.jpg'"
      />
      <!-- <div class="rendered" v-html="media_item.embed_frame"></div> -->
      <!-- v-html="media_item.embed_frame" -->
    </div>
    <div class="col-6 p-0 align-self-center">
      <p
        style="line-height: 13px"
        class="sec-font bold sm-title m-b-spacer-none max-w-200 ellipsis_3"
        [ngStyle]="{
          'text-align': 'left',
          color: '#000000',
          'font-weight': 'bolder'
        }"
      >
        {{ media_item.title }}
      </p>
      <small class="smaller sec-font bold text-dark half-here">
        {{ media_item.speaker }}
      </small>
      <!-- <img
        class="sound-bars"
        *ngIf="
          media_item.idVideo === selected_file?.idVideo"
        src="/assets/img/sound_bars.gif"
        alt="Playing actually..."
      /> -->
    </div>
  </div>
</div>

<div class="row" *ngIf="selected_file">
  <app-document-viewer class="col-12 p-0"
    #document_viewer
    [src]="selected_file.url"
    (on_close_video)="closeVideo()"
    [video]="selected_file"
  ></app-document-viewer>
</div>
