<div class="container" >
   <div class="row">
      <div class="col col col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="example-container">
          <h2>Select Items</h2>
        
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todo"   cdkDrag>
             <li> {{item.title}}  </li></div>
          </div>
        </div>
      </div>
   
    <div class="col col col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="example-container">
        <h2>selected</h2>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of done" cdkDrag>
            <li> {{item.title}}</li> 
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col  col col col-xs-12 col-sm-12 col-md-12 col-lg-12 ml-3 mb-2">
        <button type="button" class="btn btn-primary colorButton" (click)="crearPdf()"> Create PDF </button>
      </div>
    
    </div>
   
    </div>

  </div>

  


