.credit-card {
  width: 400px;
  height: 50px;
  border: 1px solid black;
  padding: 20px;
}

.card-img-top-fixed {
  object-fit: cover;
  object-position: left center;
  height: 200px;
}

.card-fixed-text {
  height: 200px;
}

/* Tooltip container */
.tooltip_ {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip_ .tooltiptext {
  visibility: hidden;
  width: 380px;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -250px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip_ .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip_:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.wrap-div {
  width: 400px;
  overflow-wrap: break-word;
}
