.fix-button-heigh {
  //   height: 32px !important;
  //   max-height: 32px !important;
  padding: 0 0.5em !important;
}

h5 {
  margin: 1rem 0 !important;
}

.fix-font-size {
  color: gray;
  font-size: 14px !important;
}
.fix-button {
  height: 30px;
  width: 30px;
  padding: 3px !important;
  background: transparent;
}

.row-divider {
  border-bottom: 2px gainsboro solid;
  padding-top: 5px;
  padding-bottom: 10px;
}
*[no-padding] {
  padding: 0 !important;
}

.card-img-top-fixed {
  object-fit: cover;
  object-position: left center;
  height: 200px;
}

.card-fixed-text {
  height: 200px;
}

.card {
  border: none !important;
}

.opacity-layer {
  background: unset;
}

.drag-list {
  width: 100%;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #eeeeee;
}

.drag-box {
  padding: 5px 10px;
  border-top: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;

  &.selected {
    background-color: #eeeeee;
    border: 1px solid;
  }

  &.no-move {
    cursor: pointer;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.demiela {
  font-family: "demiela";
}

ul.item-dropzone,
li.drop-li {
  margin: 0px 10px;
  padding: 0px 10px 10px;
  background-color: white;
  border-radius: 4px;
  list-style: none;
}

li.drop-li {
  border: 1px solid black;
}
.cdk-drop-list-dragging {
  background: rgb(215, 215, 215);
}
.item {
  &-dropzone {
    border: 1px dashed grey;
    min-height: 20px;

    &.parent {
      border: none;
    }
  }

  &-drag {
    &-handle {
      display: inline-flex;
      align-items: end;
      svg {
        margin-left: 5px;
      }
    }

    &-preview {
      box-sizing: border-box;
      border-radius: 4px;
      padding: 10px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      background-color: white;
    }
  }
  &-reduced {
    margin: 1px;
    padding: 1px 10px;
  }
}

.example-list {
  width: 100%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 40px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 5px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  // display: flex;
  // flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.preview-scroll {
  overflow-y: scroll;
  height: 550px;
  overflow-x: hidden;
}

#preview_template {
  border: 1px solid gainsboro;
  display: block;
}
