.logo_container_ad {
    min-width: 170px;
    max-width: 170px;
    min-height: 170px;
    max-height: 170px;
    height: auto;
    z-index: -1;
    border-radius: 50%;
    overflow: hidden;
    border-width: 12px;
    border-style: solid;
}

.edit-logo-btn {
    font-size: 12px;
    padding: 3px;
}
.bigIcon {
    padding: 5px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    vertical-align: top;
    display: inline-block;
    line-height: 40px;
    color: white;
}
.rounded {
    border-radius: 50%;
}

.network-round {
    border-width: 1px;
    border-style: solid;
    border-radius: 32px;
    cursor: pointer;
    // :hover{

    // }
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.category-drag-box:first-child {
    border-top: 1px solid #ccc;
}
.category-drag-box:last-child {
    border: none;
}

.category-drag-list {
    width: 100%;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.category-drag-list.cdk-drop-list-dragging .category-drag-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.category-drag-box {
    padding: 8px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    // cursor: move;
    background: white;
    font-size: 14px;
}

.example-handle {
    color: #6d6a6a;
    cursor: move;
    width: 30px;
    height: 30px;
    border: 1px solid;
    margin: 3px;
    text-align: center;
    border-radius: 3px 3px 0 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.title {
    font-size: xx-large;
    font-weight: bold;
}

.ezlink_url {
    display: block;
    white-space: normal;
    line-break: anywhere;
}

.circular {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.share-item {
    border-radius: 8px;
    // border-bottom: 1px solid rgb(235, 238, 241);
    &:hover {
        background: rgb(245, 246, 248);
    }
}

.underline {
    border-bottom: 1px solid #ebeef1;
    color: black;
    font-weight: 300;
}

.net_icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
}

.middle-text {
    top: -4px !important;
    display: inline-block;
    position: relative;
}
.qr-ezlink{
    top: unset !important;
}

.copy-item {
    border: 1px solid #ebeef1;
    height: 70px;
    border-radius: 8px;
    font-weight: 400;
    .btn-copy {
        // #e65100
        height: 100%;
        width: 100%;
    }
    &:hover {
        .btn-copy {
            background: #ffcbaf;
        }
        .copied-active {
            background: #e65100 !important;
            color: white !important;
        }
    }
}

.copied-active {
    .btn-copy {
        background: #e65100 !important;
        color: white !important;
    }
    &:hover {
        .btn-copy {
            background: #e65100 !important;
            color: white !important;
        }
    }
}

::ng-deep {
    app-ezlink-home{
        .qrItemResize-dash-ezlink {
            display: inline-block;
            width: 32px;
            img {
                max-width: 32px;
                width: 32px;
                height: 32px;
            }
        }
        .qrItemResize-dash-ezlink:hover {
            img {
                max-width: 150px;
                width: 150px;
                height: 150px;
                position: absolute;
                z-index: 4;
            }
    }
}
}
