<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 logo-iglesia-home">
      <img id="logo-iglesia-home" [src]="fixUrl(currentUser.logoPic)" />
    </div>
  </div>
  <div class="container-fluid">
    <div id="row1" class="row">
      <div class="col-sm-6 col-md-6">
        <div class="mini-container mx-auto float-md-right float-lg-right">
          <a routerLink="/contact">
            <img class="images-home-card" src="/assets/img/contactos_ico.png" />
          </a>
          <label>Contact</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="mini-container mx-auto float-md-left float-lg-left">
          <a routerLink="/groups">
            <img class="images-home-card" src="/assets/img/grupos_ico.png" />
          </a>
          <label>Groups</label>
        </div>
      </div>
      <!-- <div class="col-sm-4 col-md-4">
        <div class="mini-container mx-auto float-md-left float-lg-left">
          <a routerLink="/ministries">
            <img class="images-home-card" src="/assets/img/ministerios.png" />
          </a>
          <label>Ministries</label>
        </div>
      </div> -->
    </div>
    <div id="row2" class="row">
      <!-- <div class="col-sm-4 col-md-4">
        <div class="mini-container mx-auto float-md-right float-lg-right">
          <a routerLink="/events">
            <img class="images-home-card" src="/assets/img/eventos_ico.png" />
          </a>
          <label>Events</label>
        </div>
      </div> -->
      <div class="col-sm-6 col-md-6">
        <div class="mini-container mx-auto float-md-right float-lg-right">
          <a routerLink="/process">
            <img
              id="la"
              class="images-home-card"
              src="/assets/img/new_pasos.png"
            />
          </a>
          <label>Process</label>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="mini-container mx-auto float-md-left float-lg-left">
          <a [routerLink]="'/content'">
            <img class="images-home-card" src="/assets/img/newediting.png" />
          </a>
          <label>Content</label>
        </div>
      </div>
    </div>
  </div>
</div>
