<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mt-3 md-3">Service Types</h1>
      <div class="row mt-2">
        <div class="col-3 col-sm-3 col-md-3 col-lg-2 col-md-2 mt-3">
          <button
            class="btn btn-outline-citric btn-sm"
            (click)="
              addServiceType(form_service_type_add_modal, service_type_add_form)
            "
          >
            <i class="fa fa-plus"></i> Add Service Type
          </button>
        </div>
        <div
          class="
            col-3
            offset-6
            col-sm-3 col-md-3
            offset-lg-8
            col-lg-2
            mt-3
            text-right
          "
        >
          <button class="btn btn-citric btn-sm" routerLink="/admin/organization">
            <i class="fa fa-chevron-left"></i> Back
          </button>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-md-12 table-responsive-sm">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="table table-striped"
          >
            <thead>
              <tr>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service_type of service_types">
                <td>
                  {{ service_type.nombre }}
                </td>
                <td>
                  <div class="btn-group">
                    <button
                      (click)="
                        updateServiceType(
                          service_type,
                          form_service_type_edit_modal,
                          service_type_edit_form
                        )
                      "
                      class="btn btn-sm btn-info"
                    >
                      <i class="fa fa-edit"> </i>
                    </button>
                    <button
                      class="btn btn-sm btn-danger"
                      (click)="deleteServiceType(service_type?.idTipoServicio)"
                    >
                      <i class="fa fa-trash-alt"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Extra large modal -->

<ngx-smart-modal
  #form_service_type_add_modal
  identifier="form_service_type_add_modal"
  [dismissable]="false"
  [closable]="false"
>
  <app-service-type-form
    #service_type_add_form
    (onDismiss)="onModalAddDidDismiss(form_service_type_add_modal, $event)"
  ></app-service-type-form>
</ngx-smart-modal>

<ngx-smart-modal
  #form_service_type_edit_modal
  identifier="form_service_type_edit_modal"
  [dismissable]="false"
  [closable]="false"
>
  <app-service-type-form
    #service_type_edit_form
    (onDismiss)="onModalEditDidDismiss(form_service_type_edit_modal, $event)"
  >
  </app-service-type-form>
</ngx-smart-modal>
