.banner-container {
  background-image: url("/assets/img/default-cover-image.jpg");
  background-color: white;
  background-position: center;
  background-size: cover;

  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;

  .toggle-bth {
    position: absolute;
    top: 15px;
    left: 15px;
  }

  .edit-cover-btn {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .logo-container {
    background-color: white;
    position: absolute;
    bottom: -40px;
    // padding: 8px;
    // border-radius: 8px;
    box-shadow: 0px 0px 5px 0px #00000036;
    border-radius: 50%;
    border: 5px solid lightgrey;
    left: 3%;

    .logo-container-overflow {
      overflow: hidden;
      border-radius: 50%;
      img {
        // min-width: 180px;
        // max-width: 210px;
        // min-height: 180px;
        // max-height: 210px;
        min-width: 170px;
        max-width: 170px;
        min-height: 170px;
        max-height: 170px;
        height: auto;
        object-fit: contain;
        object-position: center center;
        padding: 8px;
      }
    }

    .edit-logo-btn {
      position: absolute;
      right: 0px;
      border-radius: 50%;
      border: 1px dotted gainsboro;
      height: 40px;
      width: 40px;
    }
  }

  .organization-name-h2 {
    color: white;
    position: absolute;
    left: calc(3% + 196px);
    margin-left: 20px;
    bottom: 0;
    text-shadow: 2px 2px 8px #000000;
  }
}

.nav-link {
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.add-section-btn {
  height: 100px;
  border: 1px dashed;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  background-color: white;
  transition: 0.3s;
  margin: 12px 0px;
  color: rgb(136, 136, 136);
  font-weight: bold;

  &:hover {
    background-color: #eaeaea;
    transform: scale(1.02);
    color: rgb(90, 90, 90);
  }
}

.tabs-container {
  min-height: 50vh;
}

.float-save {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 25px;
  z-index: 100;
}

/* Agular drag list */
.drag-list {
  width: 100%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.drag-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 9999 !important;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-box:last-child {
  border: none;
}

.drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep {
  .profile-header {
    position: relative !important;
  }
}
