.navbar-business {
  background: #a82703 !important;
}

a {
  color: white !important;
}
a.disabled{
  color: rgb(158, 157, 157) !important;
}
#logout {
  color: #a82703!important;
}
#logout-user-type-2 {
  color: #a82703!important;
  background-color: rgb(240,240,240) !important;
  border-radius: 12px;
}

#logo {
  height: auto;
  width: 80px;
  margin-left: 9px;
  margin-right: 20px;
}

.dropdown-menu {
  border-radius: 10px !important;
  background-color: white !important;
  z-index: 3000;
}

.dropdown-item {
  color: black !important;
}

.navbarDropdown {
  background: white !important;
}

@media (min-width: 230px) {
  #settings {
    margin-left: -30px;
  }
}

.navbar-nav > li > .dropdown-menu:before {
  border-bottom: 11px solid rgb(255, 255, 255);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  left: 12px;
  top: -11px;
}

#settingsContainer > .nav-item > .dropdown-menu:before {
  border-bottom: 11px solid rgb(255, 255, 255);
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  left: 12px;
  top: -11px;
}

.navbar-light .navbar-toggler {
  background-color: #FFFFFF;
}
:host ::ng-deep .multiselect-dropdown .dropdown-btn {
	display: inline-block;
	border: 1px solid #adadad;
	width: 100%;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.1;
	text-align: left;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border-radius: 4px;
}

.number-visits{
  display: block;
  text-align: center;
  font-size: 40px;
}