<div class="container mt-2">
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <h4>Galleries</h4>
    </div>
    <div class="col-xs-6 col-md-6 text-right">
      <a class="btn btn-primary" [routerLink]="['/gallery/create']">
        Add Gallery
      </a>
    </div>
  </div>

  <hr />

  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="table row-border hover mt-4"
  >
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Photos</th>
        <th>Settings</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gallery of galleries">
        <!-- routerLink="/groups/details/{{ group.idGroup }}" -->
        <td>
          {{ gallery.name }}
        </td>
        <td>
          {{ gallery.description }}
        </td>
        <td>
          {{ gallery.photos?.length }}
        </td>
        <td>
          <div class="btn-group">
            <a
              class="btn btn-primary btn-sm"
              routerLink="/gallery/details/{{ gallery.id }}"
            >
              <i class="fa fa-eye"></i>
            </a>
            <a
              class="btn btn-success btn-sm"
              routerLink="/gallery/edit/{{ gallery.id }}"
            >
              <i class="fa fa-edit"></i>
            </a>
            <button
              class="btn btn-danger btn-sm"
              (click)="deleteGallery(gallery)"
            >
              <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-info btn-sm" (click)="openGalleryIframe(gallery.id)">
              <i class="fa fa-code"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ngx-smart-modal #iframeCodeModal identifier="iframeCodeModal">
  <h4>Insert groups on your page</h4>
  <pre style="background-color: whitesmoke; padding: 8px;">
    {{ iframeCode }}
  </pre>

  <p>
    Copy this code and paste it on your website
  </p>
</ngx-smart-modal>
