.img-contact-foto {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.row-for-select {
  border-bottom: 1px solid lightgray;
  align-items: center;
  //   align-content: center;
  //   align-self: center;
}

.form-group {
  margin-bottom: unset;
}

.fixed-span {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}

.active_user {
  border-color: #28a745;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc354…%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  background-color: rgba(40, 167, 69, 0.2);
}

.deleted_user {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc354…%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  background-color: rgba(220, 53, 69, 0.2);
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc354…%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.1875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
ng-multiselect-dropdown.form-control {
  height: unset;
}

.fixed-span-size {
  font-size: 10px;
}

.card-img-top-fixed {
  object-fit: cover;
  object-position: left center;
  height: 200px;
}

.card-fixed-text {
  height: 200px;
}

.card {
  border: none !important;
}
.deleted {
  border: 1px solid red;
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.1);
}
