.bigIcon {
    padding: 5px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    vertical-align: top;
    display: inline-block;
    line-height: 40px;
    color: white;
}
.rounded {
    border-radius: 50%;
}

.edit-logo-btn {
    font-size: 12px;
    padding: 3px;
}

app-networks-organization-form {
    width: 100%;
    display: block;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    // display: flex;
    // flex-direction: row;
    border-radius: 4px;
}

.example-box {
    // border-bottom: solid 1px #ccc;
    /* display: flex; */
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    font-size: 14px;
    flex-grow: 1;
    flex-basis: 0;
}

.example-box:not(:last-child) {
    border-bottom: solid 1px #ccc;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sound-bars {
    width: 56px;
    display: block;
}
.on-live {
    width: 80px;
    position: absolute;
    display: block;
    top: -10px;
    left: 5px;
    z-index: 0;
}

.live-text {
    position: absolute;
    font-size: 8px;
    color: white;
    left: 18px;
    font-weight: 700;
    top: 24px;
}
