<div class="footer-container" [ngStyle]="sectionStyle">
  <div class="row">
    <!-- <div
      *ngFor="let row of footer?.rows"
      class="col-xs-12"
      [ngClass]="customRowsClasses"
      [innerHTML]="row.content | safe: 'html'"
    ></div> -->
  </div>
</div>
<div class="row" style="background-color: black; color: white;">
  <div class="col-12">
    <div class="container">
      <div class="is-flex align-items-center" style="min-height: 64px;">
        <div class="copy-text w-100">
          © Copyright 2020 All Rights Reserved. Designed by E2 Outlook.
        </div>
        <div class="links">
          <div class="is-flex align-items-center">
            <div class="social-link">
              <a
                href="https://www.facebook.com/e2outlookstudio/info/?tab=page_info"
                class="icon"
              >
                <i class="socicon-facebook"></i>
              </a>
            </div>
            <div class="social-link">
              <a href="https://twitter.com/E2Outlook" class="icon">
                <i class="socicon-twitter"></i>
              </a>
            </div>
            <div class="social-link">
              <a
                href="https://www.linkedin.com/company/e2-outlook"
                class="icon"
              >
                <i class="socicon-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
