:root {
  --element-width: 735px; /* Default width */
}

.card-image {
  max-height: 181px;
  object-fit: cover;
  object-position: top;
}
.short_description {
  height: 38px;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  // font-size: 14px;
  // line-height: 1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.show_more_p {
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 10px;
}
.title-style {
  font-size: 2.2rem;
  font-weight: bolder;
  color: #222;
  letter-spacing: 1px;
}
.title-header {
  font-weight: bolder;
  color: #222;
  letter-spacing: 1px;
  font-size: 3.5rem;
  padding-left: 15px;
}
.card-image-container {
  height: 100px;
  background-size: cover !important;
  background: white;
  background-position: center center !important;
}

.standalone-height {
  height: 200px !important;
}

.color-header-div {
  height: 100px;
}
.color-header-div.standalone-height {
  height: 200px !important;
}

@media screen and (min-width: var(--element-width)) {
  .card-image-container {
    height: 170px !important;
  }
  .standalone-height {
    height: 270px !important;
  }
  .color-header-div {
    height: 270px;
  }
}
.toolbar .searchbar-ios .searchbar-input {
  // background: rgba(0, 0, 0, 0.6);
  background: white;
  // color: var(--ion-white);
  color: darkgray;
  border-radius: 2;
  height: 32px;
}

.searchbar-ios .searchbar-search-icon {
  top: 9px;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2013%2013'><path%20fill='rgba(0,%200,%200,%201)'%20d='M5,1c2.2,0,4,1.8,4,4S7.2,9,5,9S1,7.2,1,5S2.8,1,5,1%20M5,0C2.2,0,0,2.2,0,5s2.2,5,5,5s5-2.2,5-5S7.8,0,5,0%20L5,0z'/><line%20stroke='rgba(0,%200,%200,%201)'%20stroke-miterlimit='10'%20x1='12.6'%20y1='12.6'%20x2='8.2'%20y2='8.2'/></svg>");
}
.searchbar-ios .searchbar-search-icon {
  left: 8px !important;
}
.searchbar-ios .searchbar-input {
  padding: 0 28px;
  border-radius: 18px;
  height: 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
  background-color: gainsboro;
}
.searchButton {
  margin-top: 30px;
}
.searchbar-input-container {
  .searchbar-input {
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: var(--ion-white);
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: var(--ion-white);
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: var(--ion-white);
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: var(--ion-white);
    }
  }
  .searchbar-clear-icon {
    filter: invert(100);
  }
}

.horizontal-scroll {
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.scroll-x {
  overflow-x: scroll;
  flex-wrap: nowrap;
  // height: calc(375px / 2);
  width: 100%;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  .scroll-content {
    padding: 0 !important;
  }
}

.horizontal-scroll > div[class^="col-"] > .card {
  & > .card-body {
    padding: 0 8px !important;
  }
}

.flex-header {
  height: 100%;
  display: flex;
  position: absolute;
  width: 100%;
}

.custom-title-text {
  width: 100%;
  background: transparent;
  height: 40px;
  max-height: 40px;
}

.align-self-base {
  align-self: flex-start;
}
.align-self-center {
  align-self: center;
}
.align-self-end {
  align-self: end;
}

.card {
  width: 100% !important;
}

.color-header-div {
  height: 100px;
  width: 100%;
}

/* Hide scrollbar while preserving scrolling functionality */
.horizontal-scroll {
  overflow: scroll; /* or overflow: auto; */
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* WebKit-based browsers (Chrome, Safari) */
.horizontal-scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Mozilla Firefox */
.horizontal-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.horizontal-scroll scrollbar-thumb {
  background-color: transparent;
}

.card-background-page {
  .card {
    position: relative;
    text-align: center !important;
    max-height: 190px;
    margin: 0;
    border-radius: 2px;
    width: 100% !important;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 40%;
    // left: 15px;
    font-size: 2em;
    width: 100%;
    // font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-family: gotham_black !important;
  }

  .card-subtitle {
    font-size: 0.9em;
    position: absolute;
    top: 67%;
    // left: 15px;
    width: 100%;
    font-weight: lighter;
    text-shadow: 1px 1px 2px black;
  }
}
