.image_container {
    // height: 500px;
    overflow-x: hidden;
}

.disclaimer_image {
    height: 682px;
}

@media (max-width: 768px){
    .disclaimer_image {
        height: 282px;
    }
}

.image_fixer{
    height: 100%;
    display: flex;
    justify-content: center;
}

nav {
    min-height: 50px;
}
