.m--20 {
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
    margin-bottom: 0;
}

.progress-wrapper {
    width: 100%;
}
.progress-wrapper .progress {
    width: 4%;
    padding: 0px 5px 0px 5px;
}
// .btn-success {
//     background-color: #28a745 !important;
// }