<div class="row" style="padding: 10px">
  <div *ngIf="set_range" class="col-12 text-left">
    <button class="btn btn-sm btn-outline-citric" (click)="go_back.emit()">
      <i class="fa fa-arrow-left"></i> Back
    </button>
  </div>
  <div
    *ngIf="show_view_type && !getPermissions()"
    class="col-12 row justify-content-end"
    (change)="updateViewItems()"
  >
    <div class="col-12 col-md-3 mb-3">
      <label> View type: </label>
      <select
        (change)="verifyColors()"
        class="form-control"
        [(ngModel)]="view_type"
      >
        <option value="list">List</option>
        <option value="calendar">Calendar</option>
      </select>
    </div>
  </div>
  <div class="col-9 row">
    <div
      [ngClass]="range_selected?.id != 'custom' ? 'col-12' : 'col-md-4'"
      class="col-12"
    >
      <div class="form-group">
        <label>Range</label>
        <select
          [(ngModel)]="filter_dates.range"
          (change)="rangeChanged($event)"
          class="form-control"
        >
          <option *ngFor="let range of ranges" [value]="range.id">
            {{ range.name }}
          </option>
        </select>
      </div>
    </div>
    <div *ngIf="range_selected?.show_controls" class="col-12 col-md-4 mb-3">
      <label> Start: </label>
      <input
        type="date"
        class="form-control"
        [(ngModel)]="filter_dates.start_date"
        (change)="refreshEvents($event, 'start_date')"
      />
    </div>
    <div *ngIf="range_selected?.show_controls" class="col-12 col-md-4 mb-3">
      <label> End: </label>
      <input
        type="date"
        class="form-control"
        [(ngModel)]="filter_dates.end_date"
        (change)="refreshEvents($event, 'end_date')"
      />
      <!-- <span class="text-citric" id="members-count">
        We'll select the last day of week.
      </span> -->
    </div>
  </div>
  <div class="col-3" [ngClass]="{ 'align-self-center': !getPermissions() }">
    <!-- <button
      *ngIf="!getPermissions() && show_add_button"
      class="btn btn-sm btn-outline-success"
      (click)="openModalAddEvent()"
    >
      New Event
    </button> -->
    <button
      *ngIf="!getPermissions()"
      class="btn btn-sm btn-outline-success ml-1 mt-3 mb-3"
      (click)="printEventsPdf()"
      [disabled]="events.length === 0"
    >
      Print
    </button>
    <div *ngIf="show_view_type && getPermissions()" class="mb-3">
      <label> View type: </label>
      <select
        (change)="verifyColors()"
        class="form-control"
        [(ngModel)]="view_type"
      >
        <option value="list">List</option>
        <option value="calendar">Calendar</option>
      </select>
    </div>
  </div>

  <ng-template [ngIf]="loading_colors">
    <div
      class="d-flex justify-content-center col-12"
      style="margin-top: 10%; margin-bottom: 10%"
    >
      <div
        style="
          height: 120px;
          width: 120px;
          font-size: 15px;
          border-width: 0.45em;
        "
        class="spinner-border text-citric"
        role="status"
      ></div>
    </div>
  </ng-template>

  <div
    [hidden]="loading_colors"
    class="col-12 mb-3"
    *ngIf="view_type === 'calendar'"
  >
    Events
    <div class="card">
      <div class="row card-body">
        <!-- Calendar 1 -->
        <div class="col-12 col-md-6">
          <div
            name="cal-header-custom"
            class="row text-center cal-header-custom"
          >
            <div class="col-1 align-items-center">
              <div
                class="btn btn-link btn-color-fixed"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay(-1)"
              >
                <i class="fa fa-chevron-circle-left"> </i>
              </div>
              <!-- <div
                  class="btn btn-outline-secondary"
                  mwlCalendarToday
                  [(viewDate)]="viewDate"
                >
                  Today
                </div> -->
              <!-- <div
                  class="btn btn-citric"
                  mwlCalendarNextView
                  [view]="view"
                  [(viewDate)]="viewDate"
                  (viewDateChange)="closeOpenMonthViewDay()"
                >
                  Next
                </div> -->
            </div>
            <div class="col-10 text-center align-self-center">
              <span class="text-light">
                {{ viewDate | calendarDate: view + "ViewTitle":"en" }}
              </span>
            </div>
            <!-- <div class="col-md-4">
              <div class="btn-group">
                <div
                  class="btn btn-citric"
                  (click)="setView(CalendarView.Month)"
                  [class.active]="view === CalendarView.Month"
                >
                  Month
                </div>
                <div
                  class="btn btn-citric"
                  (click)="setView(CalendarView.Week)"
                  [class.active]="view === CalendarView.Week"
                >
                  Week
                </div>
                <div
                  class="btn btn-citric"
                  (click)="setView(CalendarView.Day)"
                  [class.active]="view === CalendarView.Day"
                >
                  Day
                </div>
              </div>
            </div> -->
          </div>
          <div [ngSwitch]="view">
            <ng-template #header>
              <mwl-calendar-month-view-header [days]="weekDays">
              </mwl-calendar-month-view-header>
            </ng-template>
            <mwl-calendar-month-view
              *ngSwitchCase="CalendarView.Month"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              [activeDayIsOpen]="activeDayIsOpen"
              (dayClicked)="dayClicked($event.day)"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
              [headerTemplate]="header"
            >
            </mwl-calendar-month-view>
            <!-- <mwl-calendar-week-view
              *ngSwitchCase="CalendarView.Week"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
              *ngSwitchCase="CalendarView.Day"
              [viewDate]="viewDate"
              [events]="events"
              [refresh]="refresh"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
            </mwl-calendar-day-view> -->
          </div>
        </div>

        <!-- Calendar 2 -->
        <div class="col-12 col-md-6">
          <div
            name="cal-header-custom"
            class="row text-center cal-header-custom"
          >
            <div class="col-10 offset-1 text-center align-self-center">
              <span class="text-light">
                {{ viewDateNext | calendarDate: view + "ViewTitle":"en" }}
              </span>
            </div>
            <div class="col-1 align-items-center">
              <div
                class="btn btn-link btn-color-fixed"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDateNext"
                (viewDateChange)="closeOpenMonthViewDay(1)"
              >
                <i class="fa fa-chevron-circle-right"> </i>
              </div>
            </div>
          </div>
          <div [ngSwitch]="view">
            <!-- <ng-template #header>
              <mwl-calendar-month-view-header [days]="weekDays">
              </mwl-calendar-month-view-header>
            </ng-template> -->
            <mwl-calendar-month-view
              *ngSwitchCase="CalendarView.Month"
              [viewDate]="viewDateNext"
              [events]="events"
              [refresh]="refresh"
              [activeDayIsOpen]="activeSecondDayIsOpen"
              (dayClicked)="dayClicked($event.day)"
              (eventClicked)="handleEvent('Clicked', $event.event)"
              (eventTimesChanged)="eventTimesChanged($event)"
            >
              <!-- [headerTemplate]="header" -->
            </mwl-calendar-month-view>
          </div>
        </div>
        <div class="w-100 mb-2">
          <hr />
        </div>

        <div class="col-12 management-tags-panel">
          <div class="row">
            <div
              class="col-6 col-md-4 row mb-1"
              [ngClass]="{
                filtered: event.color.primary === tag_filtered?.color.primary
              }"
              *ngFor="let event of events_clear"
              (click)="filterByTagColor(event)"
            >
              <span
                class="tag-color align-self-center"
                [ngStyle]="{ background: event.color.primary }"
              ></span>
              <span class="col-10 align-self-center text-muted">
                {{ event.title }}
              </span>
            </div>
          </div>
        </div>

        <div class="w-100 mb-2">
          <hr />
        </div>

        <div class="col-12" style="overflow-x: scroll">
          <table class="table row-border hover table-striped">
            <thead>
              <tr>
                <th [hidden]="true"></th>
                <th
                  style="min-width: 40px !important; max-width: 40px !important"
                ></th>
                <th style="min-width: 180px !important">Date & Time</th>
                <th>Event</th>
                <th>Description</th>
                <th *ngIf="event_template_settings?.show_attendances">
                  Attendances
                </th>
                <th *ngIf="event_template_settings?.show_capacity">Capacity</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let event of events; let i = index"
                [id]="'event_' + event.id.toString()"
                class="event_to_clear"
              >
                <td [hidden]="true">
                  {{ event.id }}
                </td>
                <td
                  class="text-center"
                  style="
                    padding: 0.75rem 0 !important;
                    max-width: 70px !important;
                    vertical-align: middle;
                  "
                >
                  <span
                    class="tag-color"
                    [ngStyle]="{ background: event.color.primary }"
                    (click)="filterByTagColor(event)"
                  ></span>
                  <!-- {{ event.color.primary }} -->
                </td>
                <td class="fixed">
                  <span
                    [ngStyle]="{
                      color: event_template_settings?.text_color || 'black'
                    }"
                  >
                    {{ event.meta.start_date }}
                    <span
                      *ngIf="event.meta.end_date && !event.meta.is_same_date"
                    >
                      -
                      {{ event.meta.end_date }}
                    </span>
                    <br />
                    <span *ngIf="!event.meta.all_day">
                      {{ event.meta.start_time }}
                      <span *ngIf="event.meta.end_time">
                        - {{ event.meta.end_time }}</span
                      >
                    </span>
                  </span>
                </td>
                <td class="fixed">
                  {{ event.title }}
                </td>
                <td class="fixed">
                  {{ event.meta.description }}
                </td>
                <td
                  *ngIf="event_template_settings?.show_attendances"
                  class="text-center fixed"
                >
                  {{ event.meta.attendances_count }} /
                  {{ event.meta.attendances_total }}
                </td>
                <td
                  *ngIf="event_template_settings?.show_capacity"
                  class="text-center fixed"
                >
                  {{ event.meta.capacity }}
                </td>
                <td class="fixed">
                  <div class="btn-group">
                    <button
                      [routerLink]="getRouterForEvent(event.meta)"
                      class="btn btn-sm btn-primary"
                    >
                      <i class="far fa-eye"></i>
                    </button>

                    <button
                      class="btn btn-sm btn-info"
                      (click)="openModalUpdateEvent(event)"
                      *ngIf="!getPermissions()"
                    >
                      <i class="fa fa-edit"></i>
                    </button>
                    <button
                      class="btn btn-sm btn-danger"
                      (click)="deleteEvent(event)"
                      *ngIf="!getPermissions()"
                    >
                      <i class="fa fa-trash-alt"></i>
                    </button>

                    <!-- </div>

                  <div class="btn-group"> -->
                    <button
                      *ngIf="show_options"
                      (click)="viewEvent(event, 'activities')"
                      class="btn btn-sm btn-success"
                    >
                      <i class="fa fa-calendar-day"></i>
                    </button>

                    <button
                      *ngIf="show_options"
                      (click)="viewEvent(event, 'reviews')"
                      class="btn btn-sm btn-success"
                    >
                      <i class="fa fa-star-half-alt"></i>
                    </button>

                    <button
                      *ngIf="show_options"
                      (click)="viewEvent(event, 'finances')"
                      class="btn btn-sm btn-success"
                    >
                      <i class="fa fa-dollar-sign"></i>
                    </button>

                    <button
                      *ngIf="show_options"
                      (click)="viewEvent(event, 'attendances')"
                      class="btn btn-sm btn-success"
                    >
                      <i class="fa fa-user-check"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 mb-3" *ngIf="view_type === 'list'">
    <div class="row">
      <div
        *ngIf="most_recent"
        class="col-12"
        [routerLink]="getRouterForEvent(most_recent.meta)"
      >
        <div class="card" style="height: calc(100% - 15px)">
          <img
            class="card-cover card-cover-most-recent"
            [src]="fixUrl(most_recent.meta.picture)"
            onError="this.src='assets/img/default-image.jpg'"
          />
          <div class="card-body">
            <h4
              [ngStyle]="{
                'text-align': style_settings?.home_title_text_align || 'left',
                color: style_settings?.home_title_text_color || '#000000',
                'font-weight':
                style_settings?.home_title_text_bold || 'bolder'
              }"
            >
              {{ most_recent.title }}
            </h4>
            <div class="row">
              <div class="col-12">
                <div class="card-sub-title bold">
                  <span class="text-citric">
                    {{ most_recent.meta.start_date }}
                    <span
                      *ngIf="most_recent.end && !most_recent.meta.is_same_date"
                    >
                      - {{ most_recent.meta.end_date }}</span
                    >
                    <br />
                    <span *ngIf="!most_recent.meta.all_day">
                      {{ most_recent.meta.start_time }}
                      <span *ngIf="most_recent.meta.end_time">
                        - {{ most_recent.meta.end_time }}</span
                      >
                    </span>
                  </span>
                </div>
                <div class="card-title medium-text">
                  {{ most_recent.meta.description }}
                </div>
              </div>
              <div class="col-xs-12 col-md-6"></div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-12 col-md-6 col-lg-4"
        *ngFor="let event of events"
        [routerLink]="getRouterForEvent(event.meta)"
      >
        <div class="card" style="height: calc(100% - 15px)">
          <img
            class="card-cover"
            [src]="fixUrl(event.meta.picture)"
            onError="this.src='assets/img/default-image.jpg'"
          />
          <div class="card-body">
            <h4
              [ngStyle]="{
                'text-align': style_settings?.home_title_text_align || 'left',
                color: style_settings?.home_title_text_color || '#000000',
                'font-weight':
                style_settings?.home_title_text_bold || 'bolder'
              }"
            >
              {{ event.title }}
            </h4>
            <div class="row">
              <div class="col-12">
                <div class="card-sub-title bold">
                  <!-- {{ getCategoriesList(event.categories) }} -->
                  <span class="text-citric">
                    {{ event.meta.start_date }}
                    <span
                      *ngIf="event.meta.end_date && !event.meta.is_same_date"
                    >
                      -
                      {{ event.meta.end_date }}</span
                    >
                    <br />
                    <span *ngIf="!event.meta.all_day">
                      {{ event.meta.start_time }}
                      <span *ngIf="event.meta.end_time">
                        - {{ event.meta.end_time }}</span
                      >
                    </span>
                  </span>
                </div>
                <div class="card-title medium-text">
                  {{ event.meta.description }}
                </div>
              </div>
              <div class="col-xs-12 col-md-6">
                <!-- <div class="card-title bold bottom-right">
                      {{ convertTime(element.event_time) }}
                    </div> -->
              </div>
            </div>
            <!-- <div class="row justify-content-end">
              <div class="col-6">
                <p
                  *ngIf="data?.events_info?.display_register_button"
                  style="text-align: left"
                  (click)="registerOnEvent(event)"
                >
                  <span
                    ion-text
                    [ngClass]="event.meta.is_member ? 'success' : 'primary'"
                  >
                    {{ event.meta.is_member ? "Already member" : "Register" }}
                  </span>
                </p>
              </div>
              <div class="col-6">
                <p style="text-align: right" (click)="goToGroupEvent(event)">
                  <span ion-text color="primary">More</span>
                </p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
