.no-records-found {
  text-align: center;
  padding: 8px 15px;
  border: 1px solid #e6e6e6;
  color: #adadad;
  border-radius: 4px;
}

nav {
  min-height: 50px;
}

.fixed-badge {
  margin-left: 2px;
  padding: 5px !important;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -1px;
  left: -13px;
  height: 25px;
  width: 25px;
  z-index: 2;
  border-color: #e65100;
  background-color: #e65100;
  cursor: pointer;
}

/* On mouse-over, add a grey background color */
input ~ .checkmark {
  background-color: white;
  border: 1px solid #ccc;
}

/* When the checkbox is checked, add a blue background */
input:checked ~ .checkmark {
  background-color: #28a745;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.scrollable-y {
  height: 400px;
  overflow-y: scroll;
}

.fixed-scroll-size {
  height: auto !important;
  overflow-y: hidden;
}

.img-circle {
  height: 120px;
  width: auto;
  border-radius: 120px;
}

.image {
  display: inline-block;
  overflow: hidden;
  outline: 10px solid gainsboro;
  border-radius: 50%;
  width: 80%;
  top: 10%;
  height: 80%;
  position: relative;
}

.responsive-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 2px solid gainsboro;
}

.nav-pills > a {
  background: white;
  border: 1px solid gainsboro;
  border-radius: 20px;
  align-self: center;
  width: 80%;
}

.nav-pills > a.active {
  background-color: #e65100 !important;
  color: white !important;
}

.tab-content {
  // max-height: 765px;
  // overflow-y: scroll;
  height: 100%;
}

.tab-no-scroll {
  max-height: unset !important;
  overflow-y: auto !important;
}

app-skeleton {
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  height: 40px;
  align-self: center;
}
::ng-deep {
  .m-0 {
    .property-box {
      margin: 4px 0 !important;
      .content {
        padding: 6px 15px !important;
      }
    }
  }
}
.form-item {
  width: 80%;
  display: inline-block;
}

.btn-actions {
  position: absolute;
  right: 2px;
  top: 2px;
}

// .card-img {
//   height: 100px;
// }

// @media (min-width: 768px) {
//   .card-img {
//     height: 120px;
//   }
// }

.card-group {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
