.row {
  margin: 0;
}
::ng-deep {
  app-custom-select-country.is-invalid {
    .select-country {
      --be-divider-default: #dc3545;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: #dc3545;
      // padding-right: calc(1.5em + 0.75rem);
      // background-image: url(
      //   data:image/svg + xml,
      //   %3csvgxmlns="http://www.w3.org/2000/svg"fill="%23dc3545"viewBox="-2 -2 7 7"%3e%3cpathstroke="%23dc3545"d="M0 0l3 3m0-3L0 3"/%3e%3ccircler=".5"/%3e%3ccirclecx="3"r=".5"/%3e%3ccirclecy="3"r=".5"/%3e%3ccirclecx="3"cy="3"r=".5"/%3e%3c/svg%3E
      // );
      // background-repeat: no-repeat;
      // background-position: center right calc(0.375em + 0.1875rem);
      // background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
  }
}
