.hover {
  cursor: pointer;
}

.table td {
  padding: 0.75rem 0;
}
.status {
  padding: 3px;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
}
a:link {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}
a:visited {
  color: #000;
}

.scroll-y {
  height: 900px;
  overflow-y: scroll;
}

.in-red {
  background: #ffc7cf;
}
.in-green {
  background: #c6efce;
}

.selected {
  background: gainsboro;
  box-shadow: 0px 0px 3px 2px rgba(0, 123, 255, 1);
  -webkit-box-shadow: 0px 0px 3px 2px rgba(0, 123, 255, 1);
  -moz-box-shadow: 0px 0px 3px 2px rgba(0, 123, 255, 1);
}
