<div class="row">
  <div class="col-12 text-right">
    <button (click)="closeForm()" class="btn btn-sm btn-outline-citric">
      Close
    </button>
  </div>

  <div class="col-12 row mt-3">
    <div class="col-12 col-md-6">
      <h5>
        Cómo crear tu propia cuenta de Stripe.
      </h5>
      <div class="video-container">
        <!-- Paste your YouTube embed code here -->
        <iframe id="ytplayer"
        type="text/html"
        width="720"
        height="405"

        src="https://www.youtube.com/embed/O7Jt2G8tPRE?controls=0&disablekb=1&modestbranding=1&color=white&iv_load_policy=3"

        frameborder="0"
        allowfullscreen
        ></iframe>
      </div>
    </div>
    <div class="col-12 col-md-6"></div>
    <div class="col-12">
      <hr>
    </div>
  </div>
<div class="col-12 text-justify">
  <h4>
    Nota:
  </h4>
  <h5 class="text-secondary">
Stripe colecta el 2.7% de cada transacción + 30 centavos de cada transacción. Puede ser que suene como mucho, pero es mejor tener toda opción disponible a sus donantes. Este dinero va directamente a la organización 'Stripe'. Nuestra plataforma de Donaciones es GRATUITA.
  </h5>
  <h5 class="text-secondary mt-0">
    Igualmete creamos un botón para que el donante pueda cubrir ese gasto y su organización pueda tener todo el fondo.
  </h5>
  <h5 class="text-secondary mt-0">
    Zelle, Paypal y otras opciones, aunque son gratuitas, pueden limitar al donante al momento de tomar una decisión.
  </h5>
</div>

<div class="col-12 text-center">
  <button class="btn btn-citric" (click)="closeForm()">
    Regresar
  </button>
</div>

</div>
