<div class="container">
  <div class="row mt-2">
    <div class="col-xs-7 col-md-7">
      <h2 class="text-citric mt-2">Documents</h2>
    </div>
    <div class="col-xs-5 col-md-5 text-right">
      <button class="btn btn-success btn-sm mt-1" routerLink="create">
        <i class="fa fa-plus"></i>
        Create Document
      </button>
    </div>
  </div>
  <hr />

  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="table row-border hover mt-4"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let document of documents">
        <td>
          {{ document.name }}
        </td>
        <td>
          {{ document.description || "--" }}
        </td>
        <td>
          <div class="btn-group">
            <button
              class="btn btn-outline-success btn-sm"
              routerLink="/document-builder/detail/{{ document.idDocument }}"
            >
              <i class="fa fa-eye"></i>
            </button>
            <button
              class="btn btn-outline-primary btn-sm"
              routerLink="update/{{ document.idDocument }}"
            >
              <i class="fa fa-edit"></i>
            </button>
            <button
              class="btn btn-outline-danger btn-sm"
              (click)="deleteDocument(document)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
