@import "dhtmlx-gantt/codebase/dhtmlxgantt.css";
.gantt-chart {
  position: relative;
  width: 100%;
  height: 600px;
}

::ng-deep {
  .gantt_task_progress {
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
  }
}
